.UserDasboard1 :global(.container){
 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
}
.UserDasboard1 :global(.container p){
    color: #6D6D6D;
    font-size: 20px;
    font-weight: 600;
}
.UserDasboard1{
    margin: 50px 0;
}